body {
	color: var(--main-color);
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

p {
	font-size: var(--paragraph);
	font-family: var(--paragraphs);
	font-weight: var(--regular);
}

.section {
	padding: var(--mobile-section-padding);
}

.flex-container {
	display: flex;
	gap: var(--flex-gap);
}

.subheading-mobile {
	font-size: var(--subheading-mobile);
	font-family: var(--headings);
	font-weight: var(--regular);
	margin-bottom: var(--headings-margin-bottom);
}