body {
	color: var(--secondary-color);
	overflow: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}