:root {
	/* Font-size desktop */
	--paragraph: 1rem;
	--heading: clamp(4rem, 8vw, 6rem);
	--subheading: 1.2rem; 

	/* Font-size mobile */
	--heading-mobile: 4rem;
	--subheading-mobile: 2rem;

	/* Font-weight */
	--regular: 400;
	--bold: 600;

	/* Font-family */
	--headings: 'Inter', sans-serif;
	--paragraphs: 'Montserrat', sans-serif;

	/* Color */
	--main-color: #070712;
	--secondary-color: #fae6e6;
	--button-color: #02A090;

	/* Margin */
	--desktop-section-margin: 12.5rem 0;
	--mobile-section-margin: 5rem 0;
	--headings-margin-bottom: .5rem; 

	/* Padding */
	--desktop-section-padding: 5rem;
	--mobile-section-padding: 5rem 1.5rem;
	--nav-padding: 2.5rem 2.5rem 1.5rem 2.5rem;
	
	/* Flex Gap */
	--flex-gap: 2.5rem;
}