/* .article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
} */

.article__image {
	display: block;
	width: 100%;
	height: 60vh;
	object-fit: cover;
}

.article__heading {
	text-align: center;
	margin: 2rem 0 4rem 0;
}

.article__paragraph {
	margin: 0 auto;
}

.article__info {
	display: flex;
	align-items: center;
	gap: var(--normal-gap);
	margin-bottom: 2rem;
}

.article__writer-image {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 100%;
	object-fit: cover;
}

.article__published {
	margin: 0 0 0 auto;
}

@media screen and (min-width: 768px) {
	.article__image {
		width: 80%;
		margin: 0 auto;
	}
	
	.article__paragraph {
		width: 80%;
	}

	.article__writer {
		height: 3rem;
		width: 3rem;
	}

	.article__info {
		width: 80%;
		margin: 0 auto 4rem auto;
	}
}

@media screen and (min-width: 1200px) {
	.article__paragraph {
		width: 60%;
	}
}