.blog__grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--blog-gap);
	margin-bottom: 2rem;
}

.blog__image {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	padding-bottom: .5rem;
}

.blog__item {
	display: flex;
	flex-direction: column;
}

.blog__item-text span {
	font-family: var(--headings);
	font-weight: var(--bold);
}

.blog__item-text p {
	margin: .5rem 0 1rem 0;
}

.blog__link {
	display: block;
	font-family: var(--headings);
	font-weight: var(--bold);
	text-align: center;
}

.blog__link:hover {
	text-decoration: underline;
}

.blog__item:last-child {
	display: none;
}

@media screen and (min-width: 768px) {
	.blog__item {
		flex-direction: row;
		gap: var(--normal-gap);
	}

	.blog__image {
		min-width: 50%;
		height: 200px;
	}

	.blog__item:last-child img {
		height: 100%;
		max-height: 80%;
	}
}

@media screen and (min-width: 992px) {
	.blog__grid {
		grid-template-columns: 1fr 1fr;
	}

	.blog__item:last-child {
		grid-area: 1 / 2 / 4 / 3;
		display: block;
	}
}