#info1 {
	display: none;
}

.grid__container {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--flex-gap);
}

.info__container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content__container p:first-of-type {
	margin-bottom: var(--headings-margin-bottom);
}

@media screen and (min-width: 768px) {
	.section {
		padding: var(--desktop-section-padding);
	}

	.grid__container {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 992px) {
	#info1 {
		display: block;
	}

	.grid__container {
		grid-template-columns: repeat(3, 1fr);
	}
}